name: Build
run-name: Build tree-sitter-modelica

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Clean install
        run: npm ci
      - name: Run build script
        run: npm run build
      - name: Run test script
        run: npm test

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tree-sitter-modelica.wasm
          path: |
            tree-sitter-modelica.wasm

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: tree-sitter-modelica.wasm
          path: |
            tree-sitter-modelica.wasm

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: tree-sitter-modelica.wasm
